<div class="grid md:grid-cols-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-8">
    <h2 class="text-xl font-bold text-blue-500">Voertuiginformatie opzoeken</h2>

    <!-- SELECT VEHICLE TYPE-->
    <label class="block mt-4">
      <span class="text-gray-700">Van welk type voertuig wilt u voertuiginformatie opzoeken?</span>
      <app-single-select formControlName="vehicleType" [(selectedOption)]="selectedVehicleType"
        [placeholder]="'Select Vehicle Type'" [options]="vehicleTypeData"
        (selectedOptionChange)="onVehicleTypeChange($event)"></app-single-select>
    </label>

    <!-- SELECT VEHICLE SUBTYPE-->
    <label class="block mt-4"
      [ngClass]="{'opacity-50 cursor-not-allowed pointer-events-none': !vehicleSubTypeData?.length}">
      <span class="text-gray-700">Welk type [auto/motor/brommer] hebt u?</span>
      <app-single-select formControlName="vehicleSubType" [name]="'vehicle-subtype'"
        [placeholder]="'Select Vehicle Subtype'" [options]="vehicleSubTypeData ?? []"></app-single-select>
    </label>

    <!-- INPUT LICENSE PLATE -->
    <label class="block mt-4">
      <span class="text-gray-700">Vul het kenteken van uw [auto/motor/brommer] in.</span>
      <input formControlName="licensePlateNumber" type="text" #kenteken
        class="mt-1 block w-full rounded-md bg-yellow-400 border-red-400 focus:border-gray-500 focus:bg-yellow-300 focus:ring-0"
        name="kenteken" (blur)="validateLicensePlateNumber(form.get('licensePlateNumber')?.value)"
        placeholder="Bijvoorbeeld AA-BB-12">
      <div #errorKenteken class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2"
        role="alert">
      </div>
    </label>

    <div class="mt-4">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
        Verzenden
      </button>
      <div class="text-red-700">{{errorMsg}}</div>
    </div>
  </form>
  <picture>
    <img *ngIf="vehicleImage" [src]="vehicleImage" alt="selectedVehicleType" class="object-cover h-full w-full">
  </picture>
</div>
